/* Подключение шрифтов */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}

/* Основные стили страницы */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  background-color: #ffffff;;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
}

.main {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  flex-wrap: wrap;
}

/* --- */
.title {
  margin: 0;
  color: #ffffff;
}

.section {
  background-color: #025757;
  padding: 15px;
  border-radius: 15px;
}

.product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  width: 100%;
}

.products-add {
  width: 100%;
}

.day__title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;
}

.day__products,
.products-add__container {
  background-color: #ffffff;
  min-width: 100px;
  padding: 15px;
  border-radius: 10px;
}

.product {
  position: relative;
}

.product::after {
  content: "";
  background-color: #072121;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product__info {
  padding-bottom: 10px;
}

.product__name,
.product-add__name {
  font-weight: 700;
  font-size: 15px;
  color: #072121;
}

.product__title-container,
.product-add__name-container,
.products-add__title-container,
.product-add__characteristic-container,
.chart__title-container,
.modal-settings__title-container,
.modal-add-product__title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-add__name-container {
  margin-bottom: 5px;
  align-items: center;
}

.products-add__title-container {
  margin-bottom: 10px;
}

.product__characteristic {
  font-size: 12px;
}

.product__characteristic-info {
  font-weight: 700;
}

.product__button-icon {
  fill: #072121;
}

.product__button-icon:hover {
  fill: #EB2020;
}

.product__button-icon:active {
  fill: #9B1C1C;
}

/* Добавление нового продукта */
.product-add__input,
.modal-settings__input,
.modal-add-product__input {
  padding: 5px;
  border-radius: 5px;
  border-color: #072121;;
}

.product-add {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 10px;
}

.product-add::after {
  content: "";
  background-color: #072121;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-add__buttons {
  display: flex;
  align-items: start;
}

/* Раздел "за сегодня */
.product__characteristic-container {
  display: flex;
}

/* График */
.chart__line {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.chart__line--fill {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1DB90F;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.chart__title-container {
  margin-bottom: 10px;
}

.chart__info,
.chart__info-more {
  color: #ffffff;
}

.chart__info-more {
  display: flex;
  flex-direction: column;
}

/* Кнопка */
.button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #ffffff;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.product-add__button-product {
  border: 2px solid #072121;
  color: #072121;
  font-weight: 700;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 14px;
  margin-top: 7px;
}

.product-add__button-product:hover {
  border-color: #1DB90F;
  color: #1DB90F;
}

/* Модальные окна */
.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal__container {
  background-color: #025757;
  border-radius: 10px;
  width: 60%;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
  display: block;
}

/* Модальное окно - Количество калорий за день */
.modal-settings__button-close,
.modal-add-product__button-close {
  padding-left: 7px;
  padding-right: 7px;
  line-height: 14px;
}

.modal-settings__title-container {
  margin-bottom: 10px;
}

.modal-settings__input,
.modal-add-product__input {
  border: none;
}

.modal-settings__label {
  color: #ffffff;
}

/* модальное оано - добавить новый продукт */
.modal-add-product__title-container {
  margin-bottom: 10px;
}

.modal-add-product__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #ffffff;
}